<main>
  <h1>TODO List</h1>
  <h2>A place to store your todos</h2>
  <form>
    <input
      type="text"
      placeholder="Filter your to-dos"
      class="inputs"
      [(ngModel)]="searchText"
      name="filterForm"
    />
  </form>

  <app-todo-item
    *ngFor="let task of tasks | filter: searchText; let i = index"
    [index]="i"
    [task]="task"
    [ngClass]="{ strikethrough: task.completed }"
    (removed)="onRemove($event)"
  ></app-todo-item>

  <form>
    <input
      type="text"
      placeholder="Add your to-do"
      class="inputs"
      [(ngModel)]="addedTodo"
      name="addForm"
    />
    <button class="add" (click)="addTask()">Add</button>
  </form>
</main>
